.category-info {
    text-align: center;
    margin-bottom: 2em;

    > * {margin: .5em auto;}
}

.other-categories {
    margin: 2em auto;

    h3 {margin: 0;}
}

.categories-index {
    margin: 2em auto;
    color: black;

    summary {
        cursor: pointer;
        background: white;
        font-size: 1em;
        font-weight: bolder;
        padding: 1em;
        text-decoration: underline;
    }

    nav {
        background: white;
        border: 2px solid currentColor;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-align: center;
    
        & > * {margin: .5em;}

        b {font-size: 1.25em;}
    }
}
