$border-style: currentColor 2px solid;

.category-link {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    height: 100%;
}

.category-image {
    padding: 1em;
}

.category-card {
    min-height: 2em;
    width: 150px;
    margin: 1.5em .5em;
    text-align: center;
    border: $border-style;

    @media screen and (min-width: 400px) {width: 200px;}
    @media screen and (min-width: 600px) {width: 250px;}

    .category-icon {
        $size: 7em;
        height: $size;
    }

    .description {
        color: black;
        min-height: 2em;
        height: auto;
        vertical-align: middle;
        padding: 1em;
        background: whitesmoke;
        flex: 1 0 auto;
        border-top: $border-style;
    }
}
