.freebies {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.freebie-item {
    background: white;
    border-radius: 5px;
    border: solid currentColor 3px;
    color: black;
    line-height: 2em;
    padding: .5em;
    margin: 1em auto;
    position: relative;
    text-align: center;

    @media only screen and (min-width: 600px) {
        padding: 2em;
    }
}

.personal-comment {
    $border: 1px black solid;
    border: $border;
    font-size: 15px;
    margin-top: 1.25rem;
    padding: .25rem;
    text-align: left;
}