header {
    color: black;
    margin: 1em auto;
    margin-bottom: 3em;

    svg {
        height: 8em;
    }
}

.header-link {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}