address {
    text-align: center;

    h3 {margin: 0;}

    &::before {
        border-top: 3px double currentColor;
        content: '';
        display: block;
        margin-bottom: 2em;
    }
}

.social-links {
    align-items: center;
    display: flex;
    justify-content: center;
}

a.social-link {
    margin: 1em;
    padding: 1em;

    svg {
        $size: 2em;
        height: $size; 
        width: $size;
    }
}
